@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
    --color-violeta-fuerte: hsl(263, 55%, 52%);
    --color-violeta-medio: hsl(264, 82%, 80%);
    --color-violeta-suave: hsl(260, 100%, 95%);
    --color-gris-fuerte: hsl(217, 19%, 35%);
    --color-gris-mediano: hsl(224, 10%, 45%);
    --color-gris-medio: hsl(0, 0%, 81%);
    --color-gris-suave: hsl(214, 17%, 92%);
    --color-azul-fuerte: hsl(219, 29%, 14%);
    --color-negro: hsl(219, 29%, 14%);
}

* {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
}

article {
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 8px 8px 20px black;
    font-size: 16px;
    z-index: 0;

    header {
        display: flex;
        gap: 1rem;

        h1 {
            font-weight: 500;
            font-size: 16px;
        }
    }

    h2 {
        font-size: 20px;
        font-weight: 500;
        margin-block: 1rem;
    }

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

footer {
    text-align: center;
    font-size: 16px;
    font-weight: bold;

    a {
        font-size: 16px;
        text-decoration: none;
        font-weight: bold;

        &:any-link {
            color: #09f;
            text-decoration: none;
        }
    }
}

.fondo {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    border-radius: 0px;
    height: auto;
    z-index: -1;
    margin-right: 3rem;
}

@media (width <=800px) {
    * {
        font-size: 10px;
    }

    article {
        header {
            h1 {
                font-size: 13px;
            }
        }

        h2 {
            font-size: 16px;
        }
    }
}
